.about-text{
    margin: 100px 15em 10em 18em;
    display: flex;
    flex-direction: column;
}
.about-text p{
    font-size: 25px;
    display: flex;
}
.about-block{
    display: flex;
    align-items: center;
    margin-bottom: 15em;
    gap: 10em;
}
.about-img{
    margin: 0 50px;
}
.about-block .about-img img{
    width: 500px;
    height: 350px;
}
.about-block:first-child{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5em;
    margin-bottom: 15em;
    gap: 10em;
    align-items: center;
}
.about-block:last-child{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    gap: 10em;
    align-items: center;
}