body{
    width: 100%;
    font-family: "Quicksand", cursive;
    margin: 0;
    background-color: #fff;
}
/*-----------------------------*/
.header-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient(to bottom,#a4b833, #d7e937);
    font-size: 30px;
    width: 100%;
    transition: top 0.3s ease;
}
.header-selection{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.header-selection a{
    text-decoration: none;
    transition: color 0.5s ease;
    position: relative;
    color: #fff;
}
.selection a::before{
    content: "";
    transition: width 0.3s ease;
    background-color: #fff;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
}
.selection a:hover::before{
    width: 100%;
}
.home{
    transition: transform 0.5s ease;
}
.header-selection .home a img{
    width: 250px;
    height: 50px;   
    transition: transform 0.5s ease;
}
.header-selection .home a img:hover{ 
    transform: scale(1.1);
}
.selection{
    display: flex;
    gap: 50px;
}
.bg-img{
    background-image: url(../img/skyBG.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 70px;
    margin-bottom: 10em;
}
.fade-bg{
    background-image: url(../img/fade-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}
.fade-bg .blur{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
/*-----------------------------*/
.body{
    display: flex;
    flex-direction: column;
}
/*-----------------------------*/
.footer{
    width: 100%;
    height: 400px;
    margin: 0;
    background-image: linear-gradient(to right,#a4b833, #d7e937);
    color: #fff;
    display: flex;
}
.left-footer{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 14em;
}
.gmail{
    font-size: 30px;
    margin: 0;
}