@media only screen and (max-width: 768px) {
    /*--------------For mobile screen---------------*/
    body{
        background-color: var(--background-color);
        color: var(--text-color);
        width: 100%;
        font-family: "Quicksand", cursive;
        margin: 0;
        transition: background-color 0.3s, color 0.3s;
    }
    /*--------------body---------------*/
    .selection{
        display: none;
    }
    .mobile-selection{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 20px;
    }
    .hidden-navbar-button{
        display: inline-block;
    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }
    .hidden-navbar{
        background-color: #fff;
        width: 90%;
        height: 100%;
        position: fixed;
        top: 71px;
        right: 0;
        box-shadow: 0px 30px 40px hsla(0, 0%, 0%, 0.502);
    }
    .hidden-navbar a{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
        color: #000;
        font-weight: 600;
        margin-bottom: 20px;
    }
    /*-----------------------------*/
    .header-bar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #363636;
        font-size: 30px;
        width: 100%;
    }
    .header-selection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
        height: 70px;
    }
    .header-selection a{
        text-decoration: none;
        transition: color 0.5s ease;
        position: relative;
    }
    .home a{
        color: #fff;
        font-weight: 700;
    }
    .bg-img{
        background-image: url(https://res.cloudinary.com/dtqyzzv0h/image/upload/v1718735895/skyBG_ajbji9.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 270px;
        margin-top: 70px;
        margin-bottom: 20em;
    }
    /*-----------------------------*/
    .about-text{
        display: flex;
        flex-direction: column;
        margin: 0 40px;
    }
    .about-text p{
        font-size: 20px;
        display: flex;
    }
    .about-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10em;
    }
    .about-img{
        margin: 0 50px;
    }
    .about-block .about-img img{
        width: 300px;
        height: 200px;
        border-radius: 4%
    }
    /*-----------------------------*/
    .my-skills-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 40px;
    }
    .my-skills-text ul{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .my-skills-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10em;
    }
    .my-skills-block ul{
        display: flex;
    }
    .my-skills-block ul li{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .my-skills-block ul li .main{
        display: flex;
    }
    .my-skills-new-text{
        font-size: 25px;
        display: flex;
    }
    .my-skills-block .my-skills-img img{
        width: 300px;
        height: 200px;
        border-radius: 4%
    }
    .checked{
        color: orange;
    }
    /*-----------------------------*/
    .other-things-text{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .other-things-text p{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .other-things-text p:last-child{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin: 3em 0;
    }
    .other-things-block{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 0 40px 10em;
    }
    .selection-container{
        display: flex;
        gap: 20px;
    }
    .selection-container a img{
        width: 50px;
        height: 50px;
        transition: transform 0.5s ease;
    }
    .selection-container a img:hover{
        transform: scale(1.3);
    }
    .other-website{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 1px solid #777777;
        border-radius: 3px;
        color: #fff;
        background-color: #363636;
        width: 200px;
        height: 50px;
        transition: transform 0.5s ease;
    }
    .other-website:hover{
        transform: scale(1.3);
    }
    /*-----------------------------*/
    .footer{
        width: 100%;
        height: 400px;
        margin: 0;
        background-color: #363636;
        color: #fff;
        display: flex;
        text-align: center;
    }
    .left-footer{
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }
    .gmail{
        font-size: 30px;
        margin: 0;
    }
    /*-----------------------------*/
    #toTopBtn{
        display: none;
        position: fixed;
        top: 90%;
        left: 80%;
        z-index: 100;
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        width: 4em;
        color: #ffffff;
        background-color: #00000060;
    }
    #toTopBtn.show{
        display: block;
        animation: fadeIn 0.3s;
    }
    .animated-content {
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .animated-content.show {
        opacity: 1;
        transform: translateY(0);
    }
    .left-animated-content{
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .left-animated-content.show {
        opacity: 1;
        transform: translateX(0);
    }
    /*------------------Dark/Light--------------------*/
    :root{
        --background-color: #fff;
        --text-color: #000;
    }
    body.dark-theme {
        --background-color: #282828;
        --text-color: #fff;
    }
    /*------------------Dark/Light icon--------------------*/
    .theme-switcher-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .theme-switcher-slide{
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 60px;
        border-radius: 30px;
        background-color: #c2c2c2;
    }
    .theme-switcher-slide img{
        width: 20px;
    }
    .hidden{
        display: none !important;
    }
}