@media only screen and (max-width: 768px) {
    body {
        background-color: var(--background-color);
        color: var(--text-color);
        width: 100%;
        font-family: "Quicksand", cursive;
        margin: 0;
        transition: background-color 0.3s, color 0.3s;
    }
    /*-----------------------------*/
    .header{
        background-color: #363636;
        font-size: 30px;
        width: 100%;
        transition: top 0.3s ease;
    }
    .home-page{
        display: flex;
        font-size: 35px;
        font-weight: 500;
        justify-content: center;
        height: 60px;
        align-items: center;
    }
    .home-page .home{
        color: #ffffff;
        text-decoration: none;
        transition: transform 0.5s ease;
    }
    .home-page .home:hover{
        transform: scale(1.1);
    }
    /*---NAV---*/
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #363636c2;
        overflow-x: hidden;
        transition: 0.1s;
        padding-top: 60px;
    }
    .sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.2s;
    }
    .nsfw-art{
        padding: 10px 15px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.2s;
    }
    .sidebar .theme-switcher-main {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s;
    }
    .sidebar a:hover {
        color: #f1f1f1;
    }
    .sidebar div:hover{
        color: #f1f1f1;
    }
    .content {
        transition: margin-left 0.1s;
    }
    .left-navbar-button {
        display: inline-block;
        position: fixed;
        top: 1%;
        left: 1%;
        margin-top: 7px;
    }
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 2px;
        background-color: #8d8d8d;
        margin: 6px 0;
        transition: 0.4s;
    }
    .sidebar p{
        text-align: center;
        color: #cacaca;
        margin: 5px 0;
    }
    /*-----------------------------*/
    .body{
        color: #ffffff;
        margin: 100px 38px;
    }
    .img-container{
        display: flex;
        width: 100%;
        overflow: hidden;
        flex-wrap: wrap;
        gap: 100px;
    }
    .img-place{
        display: flex;
    }
    .page-switch{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
    }
    .page-switch button{
        cursor: pointer;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 20%;
        background-color: #646464;
        color: #ffffff;
    }
    .img-place img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }
    .page-number input{
        width: 25px;
        height: 34px;
        border-radius: 20%;
    }
    /*-----------------------------*/
    .footer{
        width: 100%;
        height: 300px;
        background-color: #363636;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .title-footer{
        color: #ffffff;
        font-size: 15px;
        margin-top: 50px;
        text-align: center;
    }
    .container-footer{
        display: flex;
    }
    .selection{
        display: flex;
        gap: 30px;
    }
    .selection a img{
        width: 50px;
        height: 50px;
        transition: transform 0.5s ease;
    }
    .selection a img:hover{
        transform: scale(1.4);
    }
    /*------------------Dark/Light--------------------*/
    :root{
        --background-color: #fff;
        --text-color: #000;
    }
    body.dark-theme {
        --background-color: #282828;
        --text-color: #fff;
    }
    /*------------------Dark/Light icon--------------------*/
    .theme-switcher-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    .theme-switcher-slide{
        display: flex;
        justify-content: space-around;
        height: 30px;
        width: 60px;
        border-radius: 30px;
        transition: opacity 0.5s ease;
        background-color: #ffffff;
    }
    .theme-switcher-slide img{
        width: 20px;
    }
    .hidden{
        display: none !important;
    }
    /*------------------One-click zoom--------------------*/
    .image-zoom{
        display: none; /* Ẩn mặc định */
        position: fixed; /* Định vị hộp thoại */
        z-index: 1; /* Đặt trên các phần tử khác */
        left: 0;
        top: 0;
        width: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.575);
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    .close:hover, .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    .image-content{
        margin: auto;
        display: flex;
        width: 80%;
        height: 100vh;
        justify-content: center;
    }
    /*-----------------------------*/
}