@media only screen and (min-width: 769px) {
    .animated-content {
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .animated-content.show {
        opacity: 1;
        transform: translateY(0);
    }
    
    .left-animated-content{
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    .left-animated-content.show {
        opacity: 1;
        transform: translateX(0);
    }
    /*-----------------------------*/
    body{
        width: 100%;
        font-family: "Quicksand", cursive;
        margin: 0;
        background-color: #fff;
    }
    /*-----------------------------*/
    .mobile-selection{
        display: none;
    }
    .header-bar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #44b44d;
        font-size: 30px;
        width: 100%;
        transition: top 0.3s ease;
    }
    .header-selection{
        display: flex;
        flex-direction: row;    
        justify-content: space-around;
        align-items: center;
        height: 70px;
    }
    .header-selection a{
        text-decoration: none;
        transition: color 0.5s ease;
        position: relative;
        color: #fff;
    }
    .selection a::before{
        content: "";
        transition: width 0.3s ease;
        background-color: #fff;
        height: 4px;
        width: 0;
        position: absolute;
        bottom: 0;
    }
    .selection{
        display: flex;
        gap: 50px;
        font-weight: 600;
    }
    .selection a:hover::before{
        width: 100%;
    }
    .home{
        transition: transform 0.5s ease;
    }
    .header-selection .home a{
        font-weight: bolder;
        font-size: 40px;
        transition: transform 0.5s ease;
    }
    .header-selection .home a:hover{ 
        transform: scale(1.1);
    }
    .bg-img{
        background-image: url(./img/skyBG.jpg);
        background-size: cover;
        width: 100%;
        height: 900px;
        margin-top: 70px;
        margin-bottom: 10em;
    }
    /*-----------------------------*/
    .body{
        display: flex;
        flex-direction: column;
    }
    /*-----------------------------*/
    .footer{
        width: 100%;
        height: 400px;
        margin: 0;
        background-color: #44b44d;
        color: #fff;
        display: flex;
    }
    .left-footer{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 14em;
    }
    .gmail{
        font-size: 30px;
        margin: 0;
    }
    .about-text{
        margin: 100px 15em 20em 18em;
        display: flex;
        flex-direction: column;
    }
    .about-text p{
        font-size: 25px;
        display: flex;
    }
    .about-block{
        display: flex;
        align-items: center;
        margin-bottom: 20em;
        gap: 10em;
    }
    .about-img{
        margin: 0 50px;
    }
    .about-block .about-img img{
        width: 500px;
        height: 350px;
    }
    .about-block:first-child{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 5em;
        margin-bottom: 20em;
        gap: 10em;
        align-items: center;
    }
    .about-block:last-child{
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        gap: 10em;
        align-items: center;
    }
    /*----------------------------------*/
    .my-skills-text{
        margin: 0px 15em 0px 18em;
        display: flex;
        flex-direction: column;
    }
    .my-skills-text ul{
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }
    .my-skills-block{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 15em;
        gap: 15em;
    }
    .my-skills-img{
        margin: 0 50px;
    }
    .my-skills-block .my-skills-img img{
        width: 500px;
        height: 350px;
    }
    .checked{
        color: orange;
    }
    .my-skills-block ul{
        display: flex;
    }
    .my-skills-block ul li{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .my-skills-block ul li .main{
        display: flex;
        
    }
    .my-skills-new-text{
        font-size: 25px;
        display: flex;
    }
    .btn-check{
        color: white;
    }
    /*----------------------------------*/
    .other-things-text{
        margin: 10em 15em 21em 18em;
        display: flex;
        flex-direction: column;
    }
    .other-things-text p{
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }
    .other-things-text p:last-child{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        margin: 3em 0;
    }
    .other-things-block{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .selection-container{
        display: flex;
        gap: 20px;
    }
    .selection-container a img{
        width: 50px;
        height: 50px;
        transition: transform 0.5s ease;
    }
    .selection-container a img:hover{
        transform: scale(1.3);
    }
    .other-website{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 1px solid #a4b833;
        border-radius: 3px;
        color: #fff;
        background-color: #44b44d;
        width: 200px;
        height: 50px;
        transition: transform 0.5s ease;
    }
    .other-website:hover{
        transform: scale(1.3);
    }
    #toTopBtn{
        display: none;
        position: fixed;
        top: 90%;
        left: 95%;
        z-index: 100;
        border: none;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 10px;
        width: 4em;
        background-color: #2c3a0c;
        transition: transform 0.5s ease;
    }
    #toTopBtn:hover{
        transform: scale(1.3);
    }
    #toTopBtn.show{
        display: block;
        animation: fadeIn 0.3s;
    }
    @keyframes fadeIn{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
}
